@import "tailwindcss";

@theme {
  /* Green Accent Colors */
  --color-accent: #22c55e;
  --color-accent-hover: #16a34a;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #22c55e; /* Green accent */
  border-radius: 10px;
}
